[submodule "hustreport"]
	path = hustreport
	url = git@github.com:xu-cheng/hustreport.git
[submodule "hustbeamer"]
	path = hustbeamer
	url = git@github.com:xu-cheng/hustbeamer.git
[submodule "hustthesis"]
	path = hustthesis
	url = git@github.com:xu-cheng/hustthesis.git
[submodule "husttrans"]
	path = husttrans
	url = git@github.com:xu-cheng/husttrans.git
