[submodule "hustreport"]
	path = hustreport
	url = git@github.com:michael911009/hustreport.git
[submodule "hustbeamer"]
	path = hustbeamer
	url = git@github.com:michael911009/hustbeamer.git
[submodule "hustthesis"]
	path = hustthesis
	url = git@github.com:michael911009/hustthesis.git
